body{
    background-color: #606060;
    color: white;
    font-family: 'Anton', sans-serif;
    margin: 0;
}
header{
    background-color: #c4c4c4fd;
}
header img{
    width: 25%;
    height: 25%;
    padding-left: 15rem;
    padding-top: 2rem;
}
.header2{
    background-color: #231f20;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header2 h1{
    width: 100px;
    padding: .5rem;
}
.dropdown{
    width: 100px;
    padding: .5rem;
}
.dropdown h1{
    margin: 0.75rem 2rem;
    border: 10px solid #231f20;
    color: #d4af37;
    background-color: #231f20;
}
nav a{
    background-color: #231f20a9;
    color: white;
    padding: 0.5rem 3rem 0.5rem 3rem;
    display: block;
    text-align: center;
}
nav{
    position: absolute;
    font-family: 'Inter', sans-serif;
    right: 0;
    top: 100%;
    transition: opacity .5s ease-in;
}
header nav{
    opacity: 0;
}
nav.show{
    opacity: 1;
}
.background{
    background-image: url(images1/Cole_Palmer_Chelsea.jpg);
}
.background div{
    background-color: #60606049;
    padding-top: 8rem;
    padding-bottom: 8rem;
    text-align: center;
    font-size: xx-large;

}
footer img{
    height: 5rem;
}
.footernav{
    display: flex;
    padding-top: 5rem;
    justify-content: space-around;
}
footer{
    padding-bottom: 4rem;
    background-color: #231f20;
}
.aboutmain div{
    background-color: #2285be;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
    font-size: x-large;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .39);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
}
.jerseys img{
    height: 10rem;
}
.jerseys h3{
    text-align: center;
}
.jerseys{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-details img{
    height: 10rem;
}
.product-details{
    text-align: center;
}
.Football, .Basketball, .Soccer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Football h2, .Basketball h2, .Soccer h2{
    flex-basis: 100%;
}
.contact-form div{
    background-color: #2285be;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
    font-size: x-large;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .39);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
}
@media (min-width:1000px){
    nav.toggle-nav{
        opacity: 1;
        position: unset;
    }
    .dropdown{
        display: none;
    }
    header img{
    width: 10%;
    height: 10%;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header2{
        background-color: transparent;
        flex: 5;
    }
    .header2 h1{
        padding-left: 3rem;
        padding-top: 2rem;
    }
    .background{
    background-position: center;
    background-repeat: no-repeat;
    background-color: #231f20;
    }
    footer img{
    height: 10rem;
    }
    footer{
    padding-bottom: 4rem;
    }
    .aboutmain{
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-around;
}
.aboutmain div{
width: 40%;
}
.product-details img{
    height: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.jerseys{
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 15rem;
}
.jerseys img{
    height: 18rem;
    display: block;
    justify-self: center;
}
.jerseys h3{
    text-align: center;
    grid-row: 1/2;
}
ul{
    max-width: 40rem;
    text-align: left;
    margin: auto;
}
.contact-form{
    display: flex;
    justify-content: space-around;
}
.aboutmain div{
width: 40%;
}
}